* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

body{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background: #f4f8fc;
    color: #333;
}

.top-banner{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            gap: 20px;
            background-color:#ff4141;
            border-bottom:3px solid #ffffff;
            padding: 30px 40px;
            text-align:left;
        }

.profile-img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 50%;
            border: 4px solid #ffffff;
            box-shadow: 0 0 15px rgba(0,0,0,0.25);
        }

.restaurant-name{
            font-family: "Comic Sans MS", "Comic Sans", cursive;
            font-size: 32px;
            color:#ffffff;
            box-shadow: -6px 6px 0px rgb(255, 255, 255);
            display: block;
            width: 60%;
            max-width: 150vh;
            box-sizing: border-box;
            margin-top: 0;
            margin-right: 6 vh;
            letter-spacing: 6px;
            padding: 12px 20px;
            background-color: #FFCB11;
            border-radius:5px;
            text-shadow:1px 1px 2px #000000;
            text-align: left;
        }

.restaurant-name .description{
            font-style: italic;
            font-size: 18px;
}

.restaurant-name .name{
            margin: 0;
            padding: 0;
            text-align: left;
            font-size: 50px;
        }

.description{
            letter-spacing: 5px;
            font-weight: bold;
            font-style: italic;
            font-size: 15px;
        }

.navigation{
            display: flex;
            justify-content: space-evenly;
            gap: 20px;
            padding: 20px 40px;
            background-color: #FFCB11;
            border-top: #ffffff solid 2px;
        }

.navigation a{
            text-decoration: none;
            font-size: 28px;
            color:#ffffff;
            background-color: #ff4141;
            box-shadow: -6px 6px 0px rgb(255, 255, 255);
            display:inline-block;
            margin-top: 0;
            padding:15px 85px;
            border-radius:5px;
            text-shadow:1px 1px 2px #000000;
            transition: all 0.5s ease;
        }

.menu{
            display: flex;
            justify-content: center;
            gap: 30px;
            padding: 30px;
            flex-wrap: wrap;
}

.menu .item{
            width: 300px;
            background-color: #ff4141;
            color: #ffffff;
            text-align: center;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: -6px 6px 0px rgb(255, 255, 255);
            transition: all 0.3s ease;
            text-shadow: 1px 1px 2px #000000;
}

.menu .item:hover{
            padding: 20px;
            background-color: #FFCB11;
            cursor: pointer;
}

footer{
            background: #FFCB11;
            color: white;
            text-align: center;
            padding: 20px;
            margin-top: 50px;
}

.menu .item img{
            opacity: 0.9;
            max-width: 100%;
            max-height: 300px;
            object-fit: contain;
            position: relative;
}

#tofu_katsu{
            max-width: 150vh;}
