*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#ead0ff;
}

.wrapper{
    width:100%;
    margin:auto;
    background:rgb(255, 255, 255);
}

.header{
    height:120px;
    background:#630aac;
    color:white;
    text-align:center;
    line-height:120px;
    font-size:32px;
    font-weight:bold;
}

.main_navigation{
    background:#fff676;
    padding:15px;
    text-align:center;
}

.main_navigation a{
    color:rgb(0, 0, 0);
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
    transition: 0.2s;
}

.main_navigation a:hover{
    text-decoration:underline;
    font-size: 20px;
}

.container{
    background-color: #ffffff;
    min-height:3px;
    padding:20px;
}

.container h1{
    color:#3f005c;
    margin-bottom:15px;
}
.container p,
.container li{
    margin-bottom:10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.grid h1 {
    font-size: 50px;
}

.grid img {
    margin-top: 10px;
    height: 200px;
    width: 300px;
    border-radius: 20px;
}

.grid div {
    background: #630aac;
    box-shadow: -2px 2px black;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

.project{
    border:1px solid #ccc;
    padding:15px;
    margin-bottom:15px;
    border-radius:5px;
}

.card{
    display: inline-flex;
    justify-content: space-evenly;
}

.card p, strong{
    margin-left: 5px;
    margin-top: 50px;
    justify-content: space-evenly;
}

.card img{
    height: 100px;
    width: 100px;
}

.mini_box ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-left: 20px;
    padding: 0;
}

.footer{
    background:#fff676;
    font-weight: 700;
    color:rgb(0, 0, 0);
    text-align:center;
    padding:20px;
}